<div class='mt-4' *ngIf='recipe'>

  <div class='row'>
    <div class='col-sm-12'>
      <img [src]='recipe.imagePath' [alt]='recipe.name' class='image-responsive rounded'>
    </div>
  </div>

  <div class='row mt-4'>
    <div class='col-sm-8'>
      <h3>{{ recipe.name }}</h3>
    </div>

    <div class='col-sm-4'>
      <div class='dropdown'>
        <button type='button' class='btn btn-primary dropdown-toggle' [appDropdown]="dropdownMenu">Manage</button>
        <div class="dropdown-menu" #dropdownMenu>
          <a class="dropdown-item" (click)="onAddToShoppingList()">Add to shopping list</a>
          <a class="dropdown-item" (click)="onEditClick()">Edit</a>
          <a class="dropdown-item" (click)="onDeleteClick()">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>{{ recipe.description }}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-xs-12">
      <ul class='list-group'>
        <li class='list-group-item' *ngFor='let ingredient of recipe.ingredients'>
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>

</div>