<div class="row my-2">
  <div class="col-xs-12">

    <!-- passing template -->
    <ng-content></ng-content>

    <input type="text" #nameInputRef [(ngModel)]="name" placeholder="Server Name" class="form-control my-2">
    <input type="text" #contentInputRef [(ngModel)]="content" placeholder="Server Content" class="form-control my-2">
    <button (click)="onAddServer(nameInputRef)" class="btn btn-primary">Add Server</button>
    <button (click)="onAddBlueprint()" class="btn btn-primary mx-2">Add Server Blueprint</button>
  </div>
</div>