<div class="row my-2">
  <div class="col-sm-4">
    <!-- [value]="serverName" -->
    <input type="text" (input)="updateServerName($event)" class="form-control" placeholder="Event binding">
  </div>
  <div class="col-sm-4">
    <input type="text" [(ngModel)]="serverName" class="form-control" placeholder="Two way binding">
  </div>
  <div class="col-sm-4">
    <p>Server Name: {{ serverName }}</p>
  </div>

  <div class="col-sm-12">
    <button type="button" [disabled]="!allowNewServer" (click)="onCreateServer()" class="btn btn-primary my-2">
      Add Server
    </button>
  </div>

  <div class="col-sm-12">
    <h5 *ngIf="createServerStatus; else defaultServerStatus">{{ createServerStatus }}</h5>
    <ng-template #defaultServerStatus>
      <h5>Ready</h5>
    </ng-template>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr>
    <app-server *ngFor="let s of servers"></app-server>
    <hr style="height: 10px">
  </div>
</div>

<div class="row">
  <app-cluster-form (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)">
    <h3>Template from parent</h3>
  </app-cluster-form>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-cluster-server *ngFor="let element of serverElements" [server]="element"></app-cluster-server>
    <hr style="height: 10px">
  </div>
</div>

<div class="row my-2">
  <div class="col-xs-12">
    <button class="btn btn-warning" (click)="toggle($event)">{{show ? 'hide' : 'show'}}</button>
    <span *ngIf="show" [ngStyle]="{'margin-left': '10px'}">secret message</span>
    <hr>
    <div *ngFor="let h of history; index as i">
      <div [ngClass]="{warn: i >= 4}">{{i + 1}}: {{h}}</div>
    </div>
  </div>
</div>