<div class="row mt-4">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="servers">Servers</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['users']">Users</a>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
