<div class="container mt-4">
  <ul class="nav nav-tabs mb-4">
    <li role="presentation" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['template']">Template</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['reactive']">Reactive</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['reactive-form-builder']"
        >Reactive (Form Builder)</a
      >
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
